version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Europe/London"
    labels:
      - ":game_die: dependencies"
      - ":robot: bot"
    groups:
      packages:
        patterns:
          - "*"
    open-pull-requests-limit: 20
    ignore:
    - dependency-name: "Microsoft.Extensions.DependencyInjection"
  - package-ecosystem: "github-actions"
    directory: "/.github/workflows"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Europe/London"
    groups:
      packages:
        patterns:
          - "*"
    labels:
      - ":game_die: dependencies"
      - ":robot: bot"